html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: white;
    user-select: none;
}

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    overflow-y: auto;
}

.test {
    border: 1px solid #000;
}

.bottom-botton {
    margin-top: 30px;
    float: right;
    margin-bottom: 30px;
}

.header-img {
    width: 90px;
    height: 50px;
    user-select: none;
}

.header-name {
    font-size: 1.4em;
    font-weight: 600;
    margin-left: 20px;
    color: rgb(179, 216, 255);
    user-select: none;
}

.header {
    float: left;
    text-align: left;
    display: flex;
    align-items: center;
}

.header-username {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}

.hesder-user {
    display: flex;
    align-items: center;
    user-select: none;
}

.el-dropdown-link {
    cursor: pointer;
    color: #409eff;
}

.el-icon-arrow-down {
    font-size: 10px;
}

.operating-More {
    margin-left: 15px;
}

.test {
    border: 1px solid #000;
}

.el_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.el_col {
    margin-top: 20px;
}

.card {
    margin-right: 0;
    padding-right: 0;
    border: 1px solid #ebeef5;
    background-color: #fff;
    transition: 0.3s;
    border-radius: 6px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.rightcard {
    padding: 20px 0 20px 20px;
}

a {
    text-decoration: none;
}

.Danger {
    color: #F56C6C;
    font-weight: 600;
}

.dcmenu {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.right_time {
    padding-bottom: 20px;
}

.el-tree_org {
    padding-bottom: 20px;
}

.el-calendar-table .el-calendar-day {
    height: 50px !important;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.padding_in {
    padding: 40px;
}

.margin {
    margin-top: 20px;
}

.paddingLR {
    padding: 0 10px;
}

.marginL {
    margin-left: 20px;
}

.center {
    margin-left: 30%;
}